body {
    background-image: url('images/pattern.jpg');
}
.header {
    background-color: pink;
    height: 200px;
    color: slategray;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    opacity: 80%;
    text-align: center;
    padding: 75px 10px 10px 10px;
}
.h1 {
    text-align: center;
    position: relative;
    font-size: 40px;
}
.container-h {
    color: slategray;
    font-family: 'Share Tech Mono';
    position: fixed;
    width: 100%;
    top: 200px;
    height: 500px;
}
.container-s {
    border-style: solid;
}
.button {
    padding: 10px;
    border-style: dashed;
    border-width: 10px;
}
/* .prompt1 {
    background-color: rosybrown;
    border-style: solid;
    border-radius: 15px;
    height: 300px;
} */