body {
    background-image: url('images/pattern.jpg');
}
a {
    color: white;
}
label {
    color: pink;
    font-family: Advent Pro;
}
.header {
    background-color: slategray;
    height: 200px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    opacity: 80%;
    text-align: center;
    padding: 75px 10px 10px 10px;
}
.title {
    color: white;
    background-color: slategray;
}
.h1 {
    text-align: center;
    position: relative;
    font-size: 40px;
}
.container-h {
    color: slategray;
    font-family: 'Share Tech Mono';
    position: fixed;
    width: 100%;
    top: 200px;
    height: 500px;
}
.container-s {
    border-style: dashed;
    border-width: 10px;
    border-color: slategray;
    width: 40%;
    position: relative;
    top: 50px;
    height: 350px;
    background-color: white;
}
.button {
    padding: 10px;
    border-style: dashed;
    border-width: 10px;
}
.signupForm {
    border-style: solid;
}
#what {
    color: black;
}
/* .prompt1 {
    background-color: rosybrown;
    border-style: solid;
    border-radius: 15px;
    height: 300px;
} */